#map {
    height: 100vh;
}

html, body {
    height: 100%;
}


#con {
    background-color: white;
}


.activea {
    fill: pink;
}


#vis {
    background-color: black;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

#vis_matrix{
    background-color: black;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}


#selected {
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.form-check {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}