<!DOCTYPE html>
<html>
  <head>

    <title>Simple Map</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/map.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq00Z7YbC21qn0Z-5O0Q3zsrR2m0AAXOI&callback=initMap"></script>
    <script src="/static/js/view_controller.js"></script>

  </head>



  <body>

    <div id="map"></div>
    <p>Click <a href="/">here</a> to go home.</p>

  </body>
</html>